{% extends 'base.html.twig' %}

{% block title %}Abonnement{% endblock %}

{% block body %}
    <h1>Abonnement</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ abonnement.id }}</td>
        </tr>
        <tr>
            <th>TypeAbonnement</th>
            <td>{{ abonnement.typeAbonnement }}</td>
        </tr>
        <tr>
            <th>DateAbonnement</th>
            <td>{{ abonnement.dateAbonnement ? abonnement.dateAbonnement|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Prix:</th>
            <th>{{ abonnement.Prix }}</th>

        </tr>
        </tbody>
    </table>
    <br>
    <br>
    <button class="btn-warning" type="submit">
    <a href="{{ path('abonnement_index') }}">Retourner à la liste des abonnements</a>
    </button>
    <br>
    <br>
    <button class="btn-outline-primary" type="submit">
        <a href="{{ path('abonnement_edit', {'id': abonnement.id}) }}">Modifier cet abonnement</a>
    </button>
    <br>
    <br>
        {{ include('abonnement/_delete_form.html.twig') }}

{% endblock %}