<link href="{{ asset('back-office/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

<div class="eb3ed"> {{ form_start(form) }}

    {{ form_label(form.nomReclamation) }} <br>
    {{ form_widget(form.nomReclamation) }}
    <br><br>
    {{ form_label(form.etatReclamation) }} <br>
    {{ form_widget(form.etatReclamation) }}
    <br><br>
    {{ form_label(form.contenuReclamation) }}<br>
    {{ form_widget(form.contenuReclamation ) }}
    <br>
    {{ form_label(form.dateReclamation) }}<br>
    {{ form_widget(form.dateReclamation ) }}
    <br>
    {{ form_label(form.user) }}<br>
    {{ form_widget(form.user ) }}
    <br>
    {{ form_label(form.image) }}<br>
    {{ form_widget(form.image ) }}


    <br>
    <button class="A-Button">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
</div>
