{% extends 'base.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block body %}
    <h1>Reclamation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>NomReclamation</th>
                <td>{{ reclamation.nomReclamation }}</td>
            </tr>
            <tr>
                <th>EtatReclamation</th>
                <td>{{ reclamation.etatReclamation }}</td>
            </tr>
            <tr>
                <th>ContenuReclamation</th>
                <td>{{ reclamation.contenuReclamation }}</td>
            </tr>
            <tr>
                <th>DateReclamation</th>
                <td>{{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
<button type="submit">
    <a href="{{ path('reclamation_index') }}">Afficher la liste des reclamations </a>
</button>
<button type="submit">
    <a href="{{ path('reclamation_edit', {'id': reclamation.id}) }}">Modifier votre reclamation</a>
</button>
    {{ include('reclamation/_delete_form.html.twig') }}
{% endblock %}
