{% extends 'base-front.html.twig' %}

{% block title %}AFFICHER L'HISTORIQUE DES PARTICIPATIONS{% endblock %}

{% block body %}
    <h1>Afficher l'historique des participations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ participation.id }}</td>
            </tr>
            <tr>
                <th>NomParticipation</th>
                <td>{{ participation.nomParticipation }}</td>
            </tr>
            <tr>
                <th>Objet</th>
                <td>{{ participation.objet }}</td>
            </tr>
            <tr>
                <th>ContenuParticipation</th>
                <td>{{ participation.contenuParticipation }}</td>
            </tr>
        </tbody>
    </table>
<button type="submit">

    <a href="{{ path('participation_index') }}">Afficher l'historique des participations</a>
</button>
<button type="submit">

<a href="{{ path('participation_edit', {'id': participation.id}) }}">Modifier votre participation</a>
</button>
    {{ include('participation/_delete_form.html.twig') }}
{% endblock %}
