{% extends 'base.html.twig' %}

{% block title %}Session index{% endblock %}

{% block body %}
    <h1>Session index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomSession</th>
                <th>EndDate</th>
                <th>DescriptionSession</th>
                <th>PlacesDisponibles</th>
                <th>UrlImage</th>
                <th>StartDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td>{{ session.id }}</td>
                <td>{{ session.nomSession }}</td>
                <td>{{ session.endDate ? session.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ session.descriptionSession }}</td>
                <td>{{ session.placesDisponibles }}</td>
                <td>{{ session.urlImage }}</td>
                <td>{{ session.StartDate ? session.StartDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('session_show', {'id': session.id}) }}">show</a>
                    <a href="{{ path('session_edit', {'id': session.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('session_new') }}">Create new</a>
{% endblock %}
