{% extends 'base.html.twig' %}

{% block title %}Session{% endblock %}

{% block body %}
    <h1>Session</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session.id }}</td>
            </tr>
            <tr>
                <th>NomSession</th>
                <td>{{ session.nomSession }}</td>
            </tr>
            <tr>
                <th>StartSate</th>
                <td>{{ session.startSate }}</td>
            </tr>
            <tr>
                <th>EndDate</th>
                <td>{{ session.endDate ? session.endDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>DescriptionSession</th>
                <td>{{ session.descriptionSession }}</td>
            </tr>
            <tr>
                <th>PlacesDisponibles</th>
                <td>{{ session.placesDisponibles }}</td>
            </tr>
            <tr>
                <th>UrlImage</th>
                <td>{{ session.urlImage }}</td>
            </tr>
        </tbody>
    </table>
<button type="submit">
    <a href="{{ path('session_index') }}">Afficher la liste des sessions</a>
</button>
<button type="submit">
    <a href="{{ path('session_edit', {'id': session.id}) }}">Modifier une session</a>
</button>
    {{ include('session/_delete_form.html.twig') }}
{% endblock %}
