{{ form_start(form) }}
    {{ form_widget(form) }}
<<<<<<< HEAD
<button class="btn">{{ button_label|default('Enregistrer') }}</button>
=======
    <button class="btn">{{ button_label|default('Save') }}</button>
>>>>>>> a7c45923a7d8dc09346915264934b22b0081650d
{{ form_end(form) }}
