{% extends 'base.html.twig' %}

{% block title %}HISTORIQUE DES PUBLICITES {% endblock %}
 {% block stylesheets %}


     <!-- Custom fonts for this template -->
     <link href="{{ asset('back-office/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
     <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

     <!-- Custom styles for this template -->
     <link href="{{ asset('back-office/css/sb-admin-2.min.css') }}" rel="stylesheet">

     <!-- Custom styles for this page -->
     <link href="{{ asset('back-office/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

 {% endblock %}
{% block body %}
<h1>HISTORIQUE DES PUBLICITES</h1>

<table class="table-responsive">

    <!-- Begin Page Content -->
    <div class="container-fluid">




        <!-- DataTales Example -->

        <div class="card shadow mb-4">
            <div class="card-header py-3">

                <h6 class="m-0 font-weight-bold text-primary">BASE DE DONNEES DES PUBLICITES</h6>
            </div>

    <tr>
        <button class="A-Button" type="submit">
            <a href="{{ path('publicity_new') }}">Ajouter une publicité </a>
        </button>

    </tr>
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomPublicity</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>DescriptionPub</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for publicity in publicities %}
            <tr>
                <td>{{ publicity.id }}</td>
                <td>{{ publicity.nomPublicity }}</td>
                <td>{{ publicity.startDate ? publicity.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ publicity.endDate ? publicity.endDate|date('Y-m-d') : '' }}</td>
                <td>{{ publicity.descriptionPub }}</td>
                <td>
                    <button class="Add-Button" type="submit">
                    <a href="{{ path('publicity_show', {'id': publicity.id}) }}">Afficher</a>
                    </button>
                    <button class="Add-Button" type="submit">
                    <a href="{{ path('publicity_edit', {'id': publicity.id}) }}">Modifier</a>
                    </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
                    <!-- End of Main Content -->

                    <!-- Footer -->
                    <footer class="sticky-footer bg-white">
                        <div class="container my-auto">
                            <div class="copyright text-center my-auto">
                                <span>Copyright &copy; EDUCAPP</span>
                            </div>
                        </div>
                    </footer>
                    <!-- End of Footer -->


                    <!-- End of Content Wrapper -->


                    <!-- End of Page Wrapper -->

                    </tr>

                    </tbody>
                </table>
                {% block javascripts %}
                <!-- Bootstrap core JavaScript-->
                <script src="vendor/jquery/jquery.min.js"></script>
                <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

                <!-- Core plugin JavaScript-->
                <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

                <!-- Custom scripts for all pages-->
                <script src="js/sb-admin-2.min.js"></script>

                <!-- Page level plugins -->
                <script src="vendor/chart.js/Chart.min.js"></script>

                <!-- Page level custom scripts -->
                <script src="js/demo/chart-area-demo.js"></script>
                <script src="js/demo/chart-pie-demo.js"></script>
            </div>
        </div>
    </div>
    </div>
                    </table>
    {% endblock %}
    {% endblock %}

