
{% extends 'base.html.twig' %}
{% block title %}LISTE DES COMPTES RENDUS{% endblock %}

    {% block stylesheets %}


        <!-- Custom fonts for this template -->
        <link href="{{ asset('back-office/vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="{{ asset('back-office/css/sb-admin-2.min.css') }}" rel="stylesheet">

        <!-- Custom styles for this page -->
        <link href="{{ asset('back-office/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">

    {% endblock %}



{% block body %}

        <h1>LISTE DES COMPTES RENDUS</h1>

    <table class="table-responsive">
        <!-- Begin Page Content -->
        <div class="container-fluid">



            <!-- DataTales Example -->

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">LISTE DES COMPTES RENDUS</h6>
                </div>


                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                        <tr>

                            <th>Id</th>
                            <th>NonCompteRendu</th>
                            <th>DateLimite</th>
                            <th>actions</th>

                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>01</td>
                            <td>TP1</td>
                            <td>25/10/2021</td>
                            <td> <form action="" method="post">
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Ajouter </a>
                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Modifier</a>

                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Supprimer</a>

                                    </button>
                                </form></td>

                        </tr>
                        <tr>
                            <td>02</td>
                            <td>TP1</td>
                            <td>25/10/2021</td>
                            <td> <form action="" method="post">
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Ajouter </a>
                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Modifier</a>

                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Supprimer</a>

                                    </button>
                                </form></td>

                        </tr>
                        <tr>
                            <td>03</td>
                            <td>TP1</td>
                            <td>25/10/2021</td>
                            <td> <form action="" method="post">
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Ajouter </a>
                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Modifier</a>

                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Supprimer</a>

                                    </button>
                                </form></td>

                        </tr>
                        <tr>
                            <td>04</td>
                            <td>TP1</td>
                            <td>25/10/2021</td>
                            <td> <form action="" method="post">
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Ajouter </a>
                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Modifier</a>

                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Supprimer</a>

                                    </button>
                                </form></td>
                        </tr>
                        <tr>
                            <td>05</td>
                            <td>TP1</td>
                            <td>25/10/2021</td>
                            <td> <form action="" method="post">
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Ajouter </a>
                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Modifier</a>

                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Supprimer</a>

                                    </button>
                                </form></td>
                        </tr>
                        <tr>
                            <td>06</td>
                            <td>TP1</td>
                            <td>25/10/2021</td>
                            <td> <form action="" method="post">
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Ajouter </a>
                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Modifier</a>

                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Supprimer</a>

                                    </button>
                                </form></td>

                        </tr>
                        <tr>
                            <td>07</td>
                            <td>TP1</td>
                            <td>25/10/2021</td>
                            <td> <form action="" method="post">
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Ajouter </a>
                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Modifier</a>

                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Supprimer</a>

                                    </button>
                                </form></td>

                        </tr>
                        <tr>
                            <td>08</td>
                            <td>TP1</td>
                            <td>25/10/2021</td>
                            <td> <form action="" method="post">
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Ajouter </a>
                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Modifier</a>

                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Supprimer</a>

                                    </button>
                                </form></td>
                        </tr>
                        <tr>
                            <td>09</td>
                            <td>TP1</td>
                            <td>25/10/2021</td>
                            <td> <form action="" method="post">
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Ajouter </a>
                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Modifier</a>

                                    </button>
                                    <button type="submit">
                                        <a href="{{ path('compte_rendu_new') }}">Supprimer</a>

                                    </button>
                                </form></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        </div>

        </div>

        </div>

        </div>
        <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; EDUCAPP</span>
                </div>
            </div>
        </footer>
        <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        </body>
        {% for compte_rendu in compte_rendus %}
            <tr>
                <td>{{ compte_rendu.id }}</td>
                <td>{{ compte_rendu.nonCompteRendu }}</td>
                <td>{{ compte_rendu.dateLimite ? compte_rendu.dateLimite|date('Y-m-d') : '' }}</td>
                <td>
                    <button type="submit">
                        <a href="{{ path('compte_rendu_show', {'id': compte_rendu.id}) }}">Afficher les comptes rendus</a>
                    </button>
                    <button type="submit">
                        <a href="{{ path('compte_rendu_edit', {'id': compte_rendu.id}) }}">Modifier un compte rendu déjà déposé</a>
                    </button>
                </td>

            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </body>
    </table>
    </div>


    {% block Javascript %}

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/datatables-demo.js"></script>

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

        </tbody>
    </table>
    <button type="submit">
        <a href="{{ path('compte_rendu_new') }}">Create new</a>
    </button>
{% endblock %}

