{% extends 'base.html.twig' %}

{% block title %}CompteRendu{% endblock %}

{% block body %}
    <h1>CompteRendu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ compte_rendu.id }}</td>
            </tr>
            <tr>
                <th>NonCompteRendu</th>
                <td>{{ compte_rendu.nonCompteRendu }}</td>
            </tr>
            <tr>
                <th>DateLimite</th>
                <td>{{ compte_rendu.dateLimite ? compte_rendu.dateLimite|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>
    <button type="submit">
    <a href="{{ path('compte_rendu_index') }}">Afficher la liste des comptes rendus</a>
    </button>
<button type="submit">
    <a href="{{ path('compte_rendu_edit', {'id': compte_rendu.id}) }}">Modifier un compte rendu</a>
</button>
    {{ include('compte_rendu/_delete_form.html.twig') }}
{% endblock %}
